hidden = ["target", ".cargo"]

entrypoint = "src/main.rs"
modules = ["rust-stable"]

[nix]
channel = "stable-24_05"

[gitHubImport]
requiredFiles = [".replit"]

[[ports]]
localPort = 3000
externalPort = 80
exposeLocalhost = true
